.comparator {
  position: relative;
}

.comparator .comparator-first {
  position: relative;
  z-index: 1;
}

.comparator .comparator-second {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}

.comparator.comparator-vertical .comparator-second {
  top: 0;
  right: 0;
  border-left: 1px solid rgba(255, 100, 100, .5);
}

.comparator.comparator-horizontal .comparator-second {
  left: 0;
  right: 0;
  border-left: 1px solid rgba(255, 100, 100, .5);
}

.comparator .comparator-centered {
  transition: width 1s .4s ease-in-out;
}

.comparator img {
  display: block;
  margin: 0;
  vertical-align: top;
}

.comparator .comparator-first img {
  width: 100%;
}

.comparator .comparator-second img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: none;
}
