.comparator {
  position: relative;
}

.comparator .comparator-left {
  position: relative;
  z-index: 1;
}

.comparator .comparator-right {
  position: absolute;
  top: 0; bottom: 0;
  right: 0;
  box-sizing: border-box;
  border-left: 1px solid rgba(255, 100, 100, .5);
  overflow: hidden;
  z-index: 2;
}

.comparator .centered {
  transition: width 1s .4s ease-in-out;
}

.comparator img {
  display: block;
  margin: 0;
  vertical-align: top;
}

.comparator .comparator-left img {
  width: 100%;
}

.comparator .comparator-right img {
  position: absolute;
  top: 0; bottom: 0;
  right: 0;
  max-width: none;
}
